@tailwind base;
@tailwind components;
@tailwind utilities;

#image_on_top {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider-comparasion::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url('/public/slider-comparasion-arrows.png'), rgba(248, 148, 38, 1);
    cursor: pointer;
}